nav{
    /* border: 1px solid red; */
    background-image: linear-gradient(to left, rgba(7, 129, 194, 0.6), rgb(3, 112, 133));
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: white;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
}

nav ul li{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 16px;
}



