.main-chart{
  /* display: grid; */
  /* grid-template-columns: auto auto; */
  /* border: 1px solid red; */
  /* margin-left: 1rem; */
  margin: 1rem ;
}

.chart-container {
  /* border: 1px solid red; */
  width: 700px;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
}

.echart {
  width: 100%;
  height: 400px;
}


