<div class="main-toast">
  <div
    class="toast position-fixed top-0 end-0 m-3 index-4 style-toast"
    role="alert"
    [class.show]="showToast"
  >
    <div
      class="toast-header bg-success text-white"
      [ngClass]="{
        'bg-success': toastType === 'success'
      }"
    >
      <strong class="me-auto text-center">{{ toastMessage }}</strong>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-secondary mb-3" (click)="toggleMore()">
  {{ toggleHide ? 'ซ่อนการค้นหาเพิ่มเติม' : 'ค้นหาเพิ่มเติม' }} <i class="fa fa-caret-down"></i>
</button>

<div class="mb-4 slide-box"  *ngIf="toggleHide">
  <form action="" (ngSubmit)="search()">
    <div class="form-search">
      <h3 class="font-weight-bold fst-italic ">Search User</h3>
    </div>
    <div class="form-main">
      <div class="field">
        <label for="" class="font-weight-bold">รหัสผู้ใช้งาน :</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchModel.userPass"
          name="userPass"
          placeholder="ป้อนรหัสผู้ใช้งาน"
        />
      </div>
      <div class="field">
        <label for="" class="font-weight-bold">ชื่อ-นามสกุล :</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchModel.nameFull"
          name="nameFull"
          placeholder="ป้อนชื่อหรือ นามสกุล"
        />
      </div>
      <div class="field">
        <label for="" class="font-weight-bold">อายุ :</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchModel.age"
          name="age"
          placeholder="ป้อนอายุผู้ใช้งาน"
        />
      </div>
      <div class="field">
        <label class="font-weight-bold">วันเกิด :</label>
        <input
          name="birthday"
          [(ngModel)]="searchModel.birthday"
          type="text"
          placeholder="DD/MM/YYYY"
          class="form-control"
          bsDatepicker
        />
      </div>
      <div class="field full">
        <label class="font-weight-bold">เพศ :</label>
        <select
          class="form-control"
          [(ngModel)]="searchModel.gender"
          name="gender"
        >
          <option value="" disabled selected>กรุณาเลือกเพศ</option>
          <option value="ชาย">ชาย</option>
          <option value="หญิง">หญิง</option>
          <option value="ไม่ระบุ">ไม่ระบุ</option>
        </select>
      </div>
      <div class="field full">
        <label for="" class="font-weight-bold">วันที่บันทึก :</label>
        <input
          type="text"
          placeholder="DD/MM/YYYY"
          class="form-control"
          bsDatepicker
          [(ngModel)]="searchModel.createDate"
          name="createDate"
        />
      </div>
      <div class="field full">
        <label for="" class="font-weight-bold">บันทึกโดย :</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchModel.createBy"
          name="createBy"
          placeholder="บันทึกโดย"
        />
      </div>
    </div>  
    <div class="form-button">
      <button type="submit" class="btn btn-outline-primary">ค้นหา</button>
      <button type="button" class="btn btn-outline-danger ml-3" (click)="clear()">ล้างค่า</button>
    </div>
  </form>
</div>
